{% extends 'base.html' %}
{% block content %}
<div class="event-info-header">
    <h2 id="title">{{event.name}} Event</h2>
    {%if is_joined %}
        <button id="join-leave-btn">
            <a href="{% url 'view_event' user_id=user.id %}?id={{ event.id }}&join=0">Leave</a>
        </button>
    {%else %}
        {% if event.participants_num < event.max_participants %} 
            <button id="join-leave-btn">
                <a href="{% url 'view_event' user_id=user.id %}?id={{ event.id }}&join=1">Join</a>
            </button>
        {% endif %}
    {% endif %}
</div>
<div class="event-info-container">
    <ul>
        <li>Category: {{event.category.name}}</li>
        <li>Location: {{event.location.city}}</li>
        <li>Starts At: {{event.start_time}}</li>
        <li>Ends At: {{event.end_time}}</li>
        <li>Participants : {{event.participants_num}}/{{event.max_participants}}</li>
    </ul>
    {% if event.participants_num == event.max_participants %} 
        <p>This event is full</p>
    {% endif %}
</div>

{% if event.participants_num > 1 %}
    {% if team1|length == 0 %}
        <form id="event-form" method="post" >
            {% csrf_token %} {{ form.as_p }}
            <button class ="EventButton" type="submit">Generate Teams</button>
        </form>
    {% else %}
        <div class="form-label">
            <table>
                <tr>
                    <th>Team 1</th>
                    <th>Team 2</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            {% for user in team1 %}
                                <li>{{ user }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for user in team2 %}
                                <li>{{ user }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
{% block poll_info %}{% endblock %}
