/* Set default styles for the page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set background image */
body {
  background-image: url("Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the header */
header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Style the navigation menu */
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #ccc;
}

/* Style the main content */
main {
  margin: 2rem auto;
  max-width: 900px;
  padding: 0 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.team-member img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.team-member img:hover {
  transform: scale(1.05);
}

.team-member h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.team-member p {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
  font-size: 20px;
}

/* Style the contact form */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p { font-size: 26px; }

.logo {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
