<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <button class="EventButton"><a href="{% url 'create_event' user_id=user_id %}">Create Event</a></button>
    <form method="POST" class="form">
        {% csrf_token %}
        <label for="Choose_filter" class="form-label" >Choose Filter:</label>

        <select name="Choose_filter" id="Choose_filter" class="form-select">
            <option value="Category">Category</option>
            <option value="Location">Location</option>
        </select>
        <button type="submit" class="form-button">Apply Filter</button>
            {% if request.POST.Choose_filter == "Category" %}
            <label for="Choose_Category" class="form-label">Choose Category:</label>
            <select name="Choose_Category" id="Choose_Category" class="form-select">
                {% for cat in categories %}
                    <option value={{cat}}>{{cat}}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if request.POST.Choose_filter == "Location" %}
            <label for="Choose_Location" class="form-label">Location</label>
            <select name="Choose_Location" id="Choose_Location" class="form-select">
                {% for loc in locations %}
                    <option value={{loc}}>{{loc}}</option>
                {% endfor %}
                </select>
            {% endif %} 
    
        
    </form>
    {% for event in events %}
    <div class="EventCont">
        <div class="Event">
            <div class="HeadingBackground"><h2 class="EventHeading">{{ event.name }}</h2></div>
            
            <div class="EventDetailsContainer">
                <div class="EventsDetails-left">
                    <p><span class="EventLabel">Category:</span><span class="EventResult">{{ event.category }}</span></p>
                    <p><span class="EventLabel">Location: </span><span class="EventResult">{{ event.location }}</span></p>
                </div>
                <div class="EventsDetails-right">
                    <p><span class="EventLabel">Start Time: </span><span class="EventResult">{{ event.start_time }}</span></p>
                    <p><span class="EventLabel">End Time: </span><span class="EventResult">{{ event.end_time }}</span></p>
                    <p><span class="EventLabel">Participants: </span><span class="EventResult">{{event.participants_num}}/{{event.max_participants}}</span></p>
                </div>
            </div>
            <button class="EventButton"><a href="{% url 'view_event' user_id=user.id %}?id={{ event.id }}">Open Event</a></button>
            </div>
        </div>
        
    </div>
    {% endfor %}

{% endblock %}
</body>
</html>