<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Landing Page</title>
    <link rel="stylesheet" href="{% static 'web_page_css.css' %}"> 
</head>

<body>
    <header>		
		<h1 style="color: darkcyan;">Welcome to FitMeet</h1>
		<nav>
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="about">
			<img class="logo" src={% static 'Logo.png' %} alt="logo">
			
			<h3><p>Introducing FitMeet, the ultimate sports app for hanging out with friends!
			 Say goodbye to the hassle of organizing sports events through WhatsApp groups.
			  With FitMeet, you can easily schedule your sports activities and track your friends' availability in real-time.
			   Simply suggest a time that works for you and let your friends suggest new time slots if needed.
			    FitMeet makes it easy to pick the best time and knows who's coming,
				 so you can focus on enjoying the game with your friends</p></h3>
		</section>
		<section id="team">
			<h2>Our Team</h2>
			<div class="team-member">
				<img src={% static 'RimonPic.jpg' %} alt="Member 1">
				<h3>Rimon Shushan</h3>
				<p style="color: black;" style="font-size: xx-large;">I’m 27 years old from Tel aviv, 3rd year  student in CS  . <br>
					I’m a professional sailor and also a diving instructor . love snowboarding .</p>
			</div>
			<div class="team-member">
				<img src={% static 'DanielPic.jpg' %} alt="Member 2">
				<h3>Daniel Senderovych</h3>
				<p style="color: black;">Third-year CS student from Netanya.<br>
					Besides coding, I love playing football, weightlifting, surfing, and traveling.</p>
			</div>
			<div class="team-member">
				<img src={% static 'Saarpicture.jpg' %} alt="Member 3">
				<h3>Saar Orus</h3>
				<p style="color: black;">I’m 23 years old from Rishon Lezion.<br>
					 I'm a third-year computer science student.
					I like playing tennis and traveling.</p>
			</div>
			<div class="team-member">
				<img src={% static 'TalPic.jpeg' %} alt="Member 4">
				<h3>Tal Koren</h3>
				<p style="color: black;">
					Third-year computer science student. <br>
					I Love learning new things, especially new technologies, swimming fast, and traveling.</p>
			</div>
			<div class="team-member">
				<img src={% static 'rotem_pic.jpg' %} alt="Member 5">
				<h3>Rotem Eidlitz</h3>
				<p style="color: black;"> I'm 24 years old, a 3rd year CS student from Tel Aviv.<br> I love snowboarding and running on the beach.</p>
			</div>
			<div class="team-member">
				<img src={% static 'OfekPic.png' %} alt="Member 6">
				<h3>Ofek Manor</h3>
				<p style="color: black;">Third Year Computer Science student.<br>
					I like learning new things, cats and playing video games.</p>
			</div>
		</section>
</body>

</html>
